/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap'); */
*{
  box-sizing: border-box;
  margin: 0;
  scroll-behaviour: smooth;
}
body{
  margin:0;
  padding: 0;
  height: 100vh; 
  font-family: "Poppins", sans-serif;  
  background-color: salmon;    
}


ul{
  list-style-type: none;
}
.recipes-ul{
  display: flex;
  justify-content: space-around;
  align-items: center;    
  flex-wrap: wrap;
  margin: 70px;
  animation: scale 0.4s linear forwards;  
  
}
@keyframes scale{
  0%{
    transform:scale(0.5);    
  }
  25%{
    transform:scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
.recipes img{
  width: 300px;
  height: 300px;
  border-radius: 50%;  
  box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.3);
  cursor: pointer;
}
.recipes img:hover{
  transform: translateY(10px) scale(1.4);
  transition: transform 0.4s linear;

}


.recipes{    
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;  
  padding: 40px;
  text-align: center;
}
.recipes span{
    letter-spacing:2px;
    margin-top: 5px;
    font-weight: bold;
    max-width: 270px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

.recipes .delmeal-btn{
    cursor: pointer;
    position: absolute;    
    top:0px;
    right:50px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    opacity:0;
}
.recipes:hover .delmeal-btn{
    opacity: 1;
}
.addmeal-btn,.scroll-up{ 
 background-color: #4ec9ab ;
 cursor: pointer; 
 border: none;  
 padding: 10px;
 border-radius: 10px;
 font-weight: bold;
 text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
  letter-spacing:2px;
}
.addmeal-btn{
 position: fixed;
 left: 20px;
 top: 20px;
}
.addmeal-btn:active, .scroll-up:active{
  transform: scale(0.9);  
}
.scroll-up{
  position: fixed;
  bottom: 40px;
  right: 40px;
}